= render "layouts/header-sub"

.new-store-container
  .new-store-content
    .main-title
      店舗情報の登録
  .form-container
    = form_for @store do |f|
      .form-group
        .form-group__store-name
          店舗名
          .form-group__require
            必須
        = f.text_field :store_name, class: "form-group__default-size", placeholder: "40文字まで"
      .form-group
        .form-group__store-name
          郵便番号
          .form-group__require
            必須
        = f.text_field :postal_code, class: "form-group__default-size", placeholder: "例）1234567"
      .form-group
        .form-group__store-name
          都道府県
          .form-group__require
            必須
        = f.select :prefectures, Store.prefectures.keys, class: "form-group__default-size", placeholder: "選択して下さい"
      .form-group
        .form-group__store-name
          市町村区
          .form-group__require
            必須
        = f.text_field :ctiy, class: "form-group__default-size", placeholder: "例）福岡市中央区"
      .form-group
        .form-group__store-name
          番地
          .form-group__require
            必須
        = f.text_field :block_number, class: "form-group__default-size", placeholder: "例）天神1-1-1"
      .form-group
        .form-group__store-name
          建物名
          .form-group__ary
            任意
        = f.text_field :apartment_name, class: "form-group__default-size", placeholder: "例）天神ビル1F"
      .form-group
        .form-group__store-name
          電話番号
          .form-group__require
            必須
        = f.text_field :phone_number, class: "form-group__default-size", placeholder: "例）09012345678"
      .form-group
        .form-group__store-name
          オープン時間
          .form-group__require
            必須
        = f.select :open_time, Store.open_times.keys, class: "form-group__default-size", placeholder: "選択して下さい"
      .form-group
        .form-group__store-name
          クローズ時間
          .form-group__require
            必須
        = f.select :close_time, Store.close_times.keys, class: "form-group__default-size", placeholder: "選択して下さい"
      .form-group
        .form-group__store-name
          定休日
          .form-group__require
            必須
        = f.select :holiday, Store.holidays.keys, class: "form-group__default-size", placeholder: "選択して下さい"
      .form-group
        .form-group__store-name
          喫煙環境
          .form-group__require
            必須
        = f.select :smoking_environment, Store.smoking_environments.keys, class: "form-group__default-size", placeholder: "選択して下さい"
      .form-group
        .form-group__store-name
          ウェブサイト
          .form-group__require
            必須
        = f.text_field :website_url, class: "form-group__default-size", placeholder: "ウェブサイトのURLを入力して下さい"
      .form-group
        .form-group__store-name
          店舗の写真
          .form-group__require
            必須
          .form-group__image-guide
            ※最大5枚までアップロードできます。
        #image-box__container
          #previews
            - if @store.persisted?
              - @store.images.each_with_index do |image, i|
                - if image.persisted?
                  .preview-box
                    .upper-box
                      = image_tag image.image_url.to_s, data: {index: i}, width: "100", height: "100"
                    .lower-box
                      .js-img-change{data: {index: i}}
                        変更
                      .js-img-remove{data: {index: i}}
                        削除
            %label.form-group__image-box{for: "store_images_attributes_#{@store.images.length - 1}_image_url"}
              %p クリックしてファイルをアップロード
              = f.fields_for :images do |i|
                .js-file_group{"data-index" => "#{i.index}"}
                  = i.file_field :image_url, class: 'js-file'
                  - if i.object.persisted?
                    = i.check_box :_destroy, data: {index: i.index}, class: 'hidden-destroy'
      .form-group
        .form-group__btn
          = f.submit "店舗情報を登録する", class: "form-group__btn--registration"
          = link_to root_path, class: "form-group__btn--back" do
            もどる

= render "layouts/footer"